/* iCheck plugin Minimal skin, blue
----------------------------------- */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    background: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/Checkbox_2x.png) no-repeat;
    border: none;
    cursor: pointer;
    background-size: 260px 26px;
    -webkit-background-size: 260px 26px;
}

.icheckbox_minimal-blue {
    background-position: 0 0;
}
    .icheckbox_minimal-blue.hover {
        background-position: -25px 0;
    }
    .icheckbox_minimal-blue.checked {
        background-position: -50px 0;
    }
    .icheckbox_minimal-blue.disabled {
        background-position: -78px 0;
        cursor: default;
    }
    .icheckbox_minimal-blue.checked.disabled {
        background-position: -103px 0;
    }

.iradio_minimal-blue {
    background-position: -130px 0;
}
    .iradio_minimal-blue.hover {
        background-position: -156px 0;
    }
    .iradio_minimal-blue.checked {
        background-position: -182px 0;
    }
    .iradio_minimal-blue.disabled {
        background-position: -208px 0;
        cursor: default;
    }
    .iradio_minimal-blue.checked.disabled {
        background-position: -234px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_minimal-blue,
    .iradio_minimal-blue {
        background-image: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/Checkbox_2x.png);
        -webkit-background-size: 260px 26px;
        background-size: 260px 26px;
    }
}
