/* iCheck plugin Minimal skin, blue
----------------------------------- */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    /*background: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/Checkbox_2x.png) no-repeat;*/
    background: url(https://cdn.rawgit.com/joanna16/lamillou/75a7093d/checkbox.png) no-repeat;
    border: none;
    cursor: pointer;   
    width: 30px;
    height: 30px;
    background-size: 329px 30px;
    -webkit-background-size: 329px 30px;     
}

.icheckbox_minimal-blue {
    background-position: 3px 0;
}
    .icheckbox_minimal-blue.hover, .icheckbox_minimal-blue.obligatory.hover {
        background-position: -26px 0;
    }
    .icheckbox_minimal-blue.checked, .icheckbox_minimal-blue.obligatory.checked {
        background-position: -55px 0;
    }
    .icheckbox_minimal-blue.disabled {
        background-position: -84px 0;
        cursor: default;
    }
    .icheckbox_minimal-blue.obligatory {
        background-position: -107px 0;
    }
.iradio_minimal-blue {
    background-position: -144px 0;
}
    .iradio_minimal-blue.hover {
        background-position: -175px 0;
    }
    .iradio_minimal-blue.checked {
        background-position: -206px 0;
    }
    .iradio_minimal-blue.disabled {
        background-position: -144px 0;
        cursor: default;
    }
    .iradio_minimal-blue.checked.disabled {
        background-position: -237px 0;
    }
    .iradio_minimal-blue.focus.checked {
        background-position: -299px 0;
    }

/* HiDPI support 
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_minimal-blue,
    .iradio_minimal-blue {
        background-image: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/Checkbox_2x.png);
        -webkit-background-size: 260px 26px;
        background-size: 260px 26px;
    }
}
*/
