* {
  color: #16407d;
  font-family: 'Open Sans'; 
}

#before-loading {
    margin-top: 15px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 1px solid #D0D9E5;
}
#before-loading .square-spin>div  {
    margin: auto;
}
@keyframes square-spin {
  25% {
      background: #243C5E;
      transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
      background: #16407d;
      transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
      background: #243C5E;
      transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
      background: #16407d;
      transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
.page>.container.cms_register, #login_curtain.specialty-page, .container.restore_password, #thank_you_for_ordering {
    margin-top: 0px!important;
    border-top: 1px solid #D0D9E5;
    padding-top: 19px;
}
.cms_register.container h3, .restore_password h2, #login_curtain h1, #new_password_container h2, 
#thank_you_for_ordering h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    color: #16407D;
    letter-spacing: 0.38px;
    line-height: 18px;
    padding: 16px 0px 8px 0px;
    text-align: left;
    margin-bottom: 0px;
}
.cms_register.container .new_button.btn.btn-primary, #login_curtain .cms_buttons .submit,
.restore_password .submit, #shop_order_form .buttons.panel a.continue_with_order.right {
    font-size: 15px !important;
    text-align: center;
    text-transform: uppercase;  
    width: 240px;
    letter-spacing: 0.47px;
    line-height: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    padding-top: 14px !important;
    padding-bottom: 16px !important;
    color: white !important;
    background-color: #16407d;
    margin: 0px !important;
}
.cms_register.container .cms_buttons.row {
    margin-bottom: 40px;
    padding: 0px;
}
.cms_buttons a:focus, .cms_buttons a:hover {
    color: unset;
}
#login_curtain input.text {
    width: 100% !important;
}
.specialty-page {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.checkout-header, #show_my_cart div.page-heading h3, #order_last_step .page-heading h3, #shop_order_form h2, 
#order_last_step h4, #login_box h2, #login_box h3, .cms_user_profile h5 {
    font-weight: 700;
    font-size: 15px;
    text-align: left;
    color: #16407d; 
}

.checkout-strong-label {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    color: #16407d; 
}

.checkout-button-proceed, #shop_order_form .buttons.panel a.continue_with_order, #order_last_step a.continue_with_order {
    font-size: 15px !important;
    font-weight: 700 !important;
    width: 240px !important;
    float: none !important;
    margin-right: 0 !important; 
}

.checkout-button-proceed-big, #show_my_cart a.btn, #show_my_cart a.btn.btn-left.btn-primary, #order_last_step a.btn, 
#order_last_step a.btn.btn-left.btn-primary, #login_box input[type=submit].submit, 
#login_box a.just_order, #login_box h2.big_link a, #registration_form .cms_buttons input[type=submit],
#order_last_step .buttons.panel a.continue_with_order.right {
    font-size: 15px !important;
    font-weight: 700;
    background-color: #16407d;
    width: 240px;
    padding-top: 14px !important;
    padding-bottom: 16px !important;
    margin: 15px auto 0 auto !important;
    text-transform: uppercase;
    display: block; 
}
.btn-outlined.btn-primary:hover {
    background: transparent;
}
#order_last_step form .buttons.panel {
    margin-bottom: 40px;
    margin-top: 34px;
}
.checkout-product-title, #show_my_cart section.shopping-cart .item .table-cell.desc .title, 
#show_my_cart #show_order_products_block .item .table-cell.desc .title, 
#order_last_step section.shopping-cart .item .table-cell.desc .title, 
#order_last_step #show_order_products_block .item .table-cell.desc .title {
  text-transform: capitalize;
  font-size: 14px;
  padding-bottom: 5px; 
}

.checkout-product-subtitle, #show_my_cart section.shopping-cart .item .table-cell.desc .subtitle, 
#show_my_cart #show_order_products_block .item .table-cell.desc .subtitle, 
#order_last_step section.shopping-cart .item .table-cell.desc .subtitle, 
#order_last_step #show_order_products_block .item .table-cell.desc .subtitle {
  opacity: 0.8;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
  overflow: visible;
  white-space: normal;
  color: #16407d; 
}
#show_order_products_block .item .table-cell, .shopping-cart .item .table-cell {
    display: block;
    clear: both;
}

.checkout-error label, #shop_order_form .field_with_errors label, form.new_user .field_with_errors label {
  font-size: 13px;
  color: #16407d !important; 
}
.checkout-error .validation-error, #shop_order_form .field_with_errors .validation-error, 
form.new_user .field_with_errors .validation-error {
  font-size: 13px;
  font-weight: 400;
  color: #F1001D;
  margin-top: 10px;
  margin-bottom: 10px; 
}
.form_accept_checks .field_with_errors .validation-error {
    display: none;  
}

#empty-cart.page {
    margin-top: 14px;
    border-top: 1px solid #D0D9E5;
    padding-top: 0px;
}
#empty-cart .page-heading h3 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    color: #16407D;
    letter-spacing: 0.38px;
    line-height: 50px;
    text-align: left;
    margin-bottom: 28px;
}
#empty-cart div.page-heading.center {
    padding-top: 9px;
    padding-bottom: 65px;
}
#empty-cart .page-heading h5 {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #B8C1CE;
    letter-spacing: 0;
    line-height: 20px;
    width: 241px;
    margin: auto;
}
#empty-cart img {
    margin-bottom: 24px;
}


#show_my_cart, #order_last_step {
  padding-left: 0;
  padding-right: 0;
  font-family: 'Open Sans';
  margin-bottom: 0; 
}
#show_my_cart .page-heading {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0; 
}
#show_my_cart div.page-heading h3, #order_last_step div.page-heading h3 {
    margin-top: 0; 
}
div#show_my_cart div.page-heading h3 {
    line-height: 45px;
    margin: 0;
    padding: 0;
    margin-bottom: -14px;
}
#show_my_cart section.shopping-cart, #show_my_cart #show_order_products_block, #order_last_step section.shopping-cart, 
#order_last_step #show_order_products_block {
    padding-left: 10px;
    padding-right: 10px; 
}
#show_my_cart section.shopping-cart h4, #show_my_cart #show_order_products_block h4, 
#order_last_step section.shopping-cart h4, #order_last_step #show_order_products_block h4 {
    font-weight: 600; 
}
#show_my_cart section.shopping-cart .item, #show_my_cart #show_order_products_block .item, 
#order_last_step section.shopping-cart .item, #order_last_step #show_order_products_block .col-sm-12 {
    border: 0;
    border-bottom: 1px solid #d0d9e5;
    padding-top: 0;
    padding-right: 5px; 
}
#show_my_cart section.shopping-cart .item:last-of-type, #show_my_cart #show_order_products_block .item:last-of-type, 
#order_last_step section.shopping-cart .item:last-of-type, #order_last_step #show_order_products_block .col-sm-12:last-of-type {
     border-bottom: 0;
     margin-bottom: 10px; 
}
#show_my_cart section.shopping-cart .item .table-cell.thumb, 
#show_my_cart #show_order_products_block .item .table-cell.thumb, 
#order_last_step section.shopping-cart .item .table-cell.thumb, 
#order_last_step #show_order_products_block .item .table-cell.thumb {
     left: 0;
     top: 0; 
     width: 95px;
     padding-right: 10px;
     display: block;
     position: absolute;
     margin-right: 0;
     text-align: right!important;
}
#show_my_cart section.shopping-cart .item .table-cell.thumb a, 
#show_my_cart #show_order_products_block .item .table-cell.thumb a, 
#order_last_step section.shopping-cart .item .table-cell.thumb a, 
#order_last_step #show_order_products_block .item .table-cell.thumb a {
     width: 95px;
     height: 95px; 
}
#show_my_cart section.shopping-cart .item .table-cell.thumb a img, 
#show_my_cart #show_order_products_block .item .table-cell.thumb a img, 
#order_last_step section.shopping-cart .item .table-cell.thumb a img, 
#order_last_step #show_order_products_block .item .table-cell.thumb a img {
     width: 95px;
     height: 95px;
     max-width: initial !important;
     max-height: initial !important; 
}
#show_my_cart section.shopping-cart .item .table-cell.desc, 
#show_my_cart #show_order_products_block .item .table-cell.desc, 
#order_last_step section.shopping-cart .item .table-cell.desc, 
#order_last_step #show_order_products_block .item .table-cell.desc {
     padding-left: 105px;
     padding-right: 0;
     position: relative;
}
#show_my_cart section.shopping-cart .item .table-cell.desc .row, 
#show_my_cart #show_order_products_block .item .table-cell.desc .row, 
#order_last_step section.shopping-cart .item .table-cell.desc .row, 
#order_last_step #show_order_products_block .item .table-cell.desc .row {
     position: relative;
     min-height: 95px;
}
#show_my_cart section.shopping-cart .item .table-cell.desc .row > div:first-child, 
#show_my_cart #show_order_products_block .item .table-cell.desc .row > div:first-child, 
#order_last_step section.shopping-cart .item .table-cell.desc .row > div:first-child, 
#order_last_step #show_order_products_block .item .table-cell.desc .row > div:first-child {
     position: initial; 
}
#show_my_cart section.shopping-cart .item .table-cell.desc .row > div.money, 
#show_my_cart #show_order_products_block .item .table-cell.desc .row > div.money, 
#order_last_step section.shopping-cart .item .table-cell.desc .row > div.money {
     text-align: right !important;
     margin-bottom: 55px;
     position: initial; 
}
#show_my_cart section.shopping-cart .item .table-cell.desc .price, 
#show_my_cart #show_order_products_block .item .table-cell.desc .price, 
#order_last_step section.shopping-cart .item .table-cell.desc .price, 
#order_last_step #show_order_products_block .item .table-cell.desc .price {
     font-size: 14px;
     font-weight: 600;
     color: #16407d; 
}
#show_my_cart section.shopping-cart .item .table-cell.desc .product_price_total, 
#show_my_cart #show_order_products_block .item .table-cell.desc .product_price_total, 
#order_last_step section.shopping-cart .item .table-cell.desc .product_price_total, 
#order_last_step #show_order_products_block .item .table-cell.desc .product_price_total {
     color: #16407d;
     position: absolute;
     bottom: 0;
     right: 0;
     font-size: 12px; 
}
#show_my_cart section.shopping-cart .item .table-cell.desc .product_price_total span, 
#show_my_cart #show_order_products_block .item .table-cell.desc .product_price_total span, 
#order_last_step section.shopping-cart .item .table-cell.desc .product_price_total span, 
#order_last_step #show_order_products_block .item .table-cell.desc .product_price_total span {
     font-size: 15px;
     font-weight: 700; 
}
#order_last_step #show_order_products_block .item .table-cell.desc .product_price_total span {
     font-weight: 600;
     font-size: 13px;
     color: #243C5E;
     letter-spacing: 0.32px;
}
#show_my_cart .product_price_total.nowrap {
    font-weight: 600;
}
#show_my_cart section.shopping-cart .item .table-cell.desc input.quantity, 
#show_my_cart #show_order_products_block .item .table-cell.desc input.quantity, 
#order_last_step section.shopping-cart .item .table-cell.desc input.quantity, 
#order_last_step #show_order_products_block .item .table-cell.desc input.quantity {
     left: 35px;
     top: 6px;
     font-size: 15px;
     color: #16407d; 
}
#show_my_cart section.shopping-cart .item .table-cell.desc .qnt-count, 
#show_my_cart #show_order_products_block .item .table-cell.desc .qnt-count, 
#order_last_step section.shopping-cart .item .table-cell.desc .qnt-count, 
#order_last_step #show_order_products_block .item .table-cell.desc .qnt-count {
      position: absolute;
      bottom: 0; 
      right: 50%;
}
#show_my_cart section.shopping-cart .item .table-cell.desc .qnt-count a.incr-btn, 
#show_my_cart #show_order_products_block .item .table-cell.desc .qnt-count a.incr-btn, 
#order_last_step section.shopping-cart .item .table-cell.desc .qnt-count a.incr-btn, 
#order_last_step #show_order_products_block .item .table-cell.desc .qnt-count a.incr-btn {
      background-color: #fff;
      width: 31px;
      height: 31px;
      border: 1px solid #16407d;
      border-radius: 4px; 
}
#show_my_cart section.shopping-cart .qnt-count a.incr-btn:first-child, 
#show_my_cart #show_order_products_block .qnt-count a.incr-btn:first-child, 
#order_last_step section.shopping-cart .qnt-count a.incr-btn:first-child, 
#order_last_step #show_order_products_block .qnt-count a.incr-btn:first-child {
    content: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/ico_minus_bl.svg);
    padding-left: 9px; 
    padding-right: 9px;
    margin-right: 40px;
}
#show_my_cart section.shopping-cart .qnt-count a.incr-btn:first-child:after, 
#show_my_cart #show_order_products_block .qnt-count a.incr-btn:first-child:after, 
#order_last_step section.shopping-cart .qnt-count a.incr-btn:first-child:after, 
#order_last_step #show_order_products_block .qnt-count a.incr-btn:first-child:after {
    content: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/ico_minus_bl.svg);
    position: absolute;
    top: 10px;
    left: 10px;
}
#show_my_cart section.shopping-cart .qnt-count a.incr-btn:last-child, 
#show_my_cart #show_order_products_block .qnt-count a.incr-btn:last-child, 
#order_last_step section.shopping-cart .qnt-count a.incr-btn:last-child, 
#order_last_step #show_order_products_block .qnt-count a.incr-btn:last-child {
    content: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/ico_plus_bl.svg);
    padding-left: 9px; 
    padding-right: 9px;
}

#show_my_cart section.shopping-cart .qnt-count a.incr-btn:last-child:after, 
#show_my_cart #show_order_products_block .qnt-count a.incr-btn:last-child:after, 
#order_last_step section.shopping-cart .qnt-count a.incr-btn:last-child:after, 
#order_last_step #show_order_products_block .qnt-count a.incr-btn:last-child:after {
    content: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/ico_plus_bl.svg);
    position: absolute;
    bottom: 6px;
    right: 16px;
}

#show_my_cart section.shopping-cart .qnt-count a.incr-btn:before, 
#show_my_cart #show_order_products_block .qnt-count a.incr-btn:before, 
#order_last_step section.shopping-cart .qnt-count a.incr-btn:before, 
#order_last_step #show_order_products_block .qnt-count a.incr-btn:before {
     content: initial !important; 
}
#show_my_cart section.shopping-cart a.btn.btn-left.btn-primary, 
#show_my_cart #show_order_products_block a.btn.btn-left.btn-primary, 
#order_last_step section.shopping-cart a.btn.btn-left.btn-primary, 
#order_last_step #show_order_products_block a.btn.btn-left.btn-primary {
      display: none; 
}
#show_my_cart section.shopping-cart .item, #show_my_cart #show_order_products_block .item, 
#order_last_step section.shopping-cart .item {
      position: relative; 
      padding: 0 2px 12px 0;
}
#order_last_step #show_order_products_block .col-sm-12 {
      padding: 0 2px 22px 0;
      margin-top: 22px;
}
#show_my_cart section.shopping-cart .cart_product_remove_button, 
#show_my_cart #show_order_products_block .cart_product_remove_button, 
#order_last_step section.shopping-cart .cart_product_remove_button, 
#order_last_step #show_order_products_block .cart_product_remove_button {
      text-decoration: underline;
      color: #B8C1CE;
      font-size: 13px;
      position: absolute;
      top: calc(100% - 42px);
      left: 30px;
      z-index: 9999; 
}
#show_my_cart section.shopping-cart .cart_product_remove_button {
    position: absolute;
    left: 0;
    width: 40px;
    text-align: left;
    margin-left: 2px;
    font-weight: 400;
    z-index: 1;    
    padding-top: 3px;
}
#show_my_cart a.btn {
    margin: 29px auto 40px auto !important;
}
#show_order_products_block .item .table-cell, .shopping-cart .item .table-cell {
    vertical-align: top;
}
#show_order_products_block .item .money {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px !important;
    left: 0;
    right: 0;
}
#show_my_cart, #order_last_step.order-show {
    border-top: 1px solid #D0D9E5;
}
div#order_last_step {
    margin-left: 0px;
    padding: 0px 10px 0px 10px;
}
div#order_last_step div#show_order_products_block {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
}

#show_my_cart #cart_summary_info, #order_last_step #cart_summary_info {
    display: none; 
}
#show_my_cart #cart-totals, #order_last_step #cart-totals, #shop_order_payment {
    border: 0;
    background-color: #F7F7F7;
    margin: 0;
    padding: 9px 10px 0px 10px;
    text-transform: uppercase;
}
#shop_order_payment {
    margin: 0px -10px 0px -10px;
}
#show_my_cart #cart-totals div, #order_last_step #cart-totals div {
      padding: 0; 
}
#show_my_cart #cart-totals .totals, #order_last_step #cart-totals .totals {
      padding: 0; 
}
#show_my_cart #cart-totals .cart-totals div, #order_last_step #cart-totals .cart-totals div {
      color: #243C5E;
      font-size: 14px;
      line-height: 32px; 
      font-weight: 600;
}
#show_my_cart #cart-totals div.cart-totals-label, #order_last_step #cart-totals div.cart-totals-label,
#show_my_cart #cart-totals .cart-totals .sum div, #order_last_step #cart-totals .cart-totals .sum div {
      color: #16407d;
      font-size: 15px;
      font-weight: 700;
      padding-bottom: 22px;
      padding-top: 10px;
}
#order_last_step #shop_order_payment .totals_summary div.table-row:first-child {
      height: 26px;
}
#order_last_step #shop_order_payment .totals_summary div.table-row:nth-child(2) {
      height: 30px;
}
#order_last_step #shop_order_payment .item.totals_summary {
      border-collapse: collapse;
      margin-bottom: 11px;
      font-weight: 600;
}
#show_my_cart #cart-totals .row.sum, #order_last_step #cart-totals .row.sum, 
#order_last_step #shop_order_payment .totals_summary .table-row.sum  {
      border-top: 1px solid #d0d9e5;
      margin-top: 10px;
      font-weight: 700;
}
#show_my_cart #cart-totals .row.sum div, #order_last_step #cart-totals .row.sum div {
        font-size: 15px;
        font-weight: 700;
        line-height: 30px; 
}

#show_my_cart #order-steps {
    display: none; 
}

.contacts {
  text-align: center; 
}

#order-steps {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #16407d; 
    margin-top: 0px;
    margin-bottom: 11px;  
}
#order-steps div {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.6; 
}
#order-steps div.active {
    opacity: 1;
    color: #15407D;
    padding-bottom: 4px;
    border-bottom: 2.5px solid #15407D;
  
}

#shop_order_shipping_form h4 {
    display: inline-block;
}
#shop_order_shipping_form {
    margin-left: 0px;
}
#shop_order_shipping_form #shop_order_show_shipping_address label {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10px;
}
#shop_order_show_shipping_address {
    margin-top: 10px;
    margin-left: 0px;
}
#shop_order_shipping_form .new_button:hover {
    background-color: unset;
}
#shop_order_shipping_form span.new_button {
    text-transform: capitalize;
    background: transparent;
    font-size: 13px !important;
    color: #16407D !important;
    letter-spacing: 0;
    text-decoration: underline !important;
    padding: 5px 0px 5px 10px !important;
    margin: 0 !important;
}

.new_form div span {
    display: inline;
}
#shop_order_form #country_list {
  display: none; 
}
#shop_order_form label {
  font-family: "Open Sans";
  font-size: 13px;
  color: #16407d;
  letter-spacing: 0;
  padding-bottom: 5px; 
}
#shop_order_form input {
  border: 1px solid #d0d9e5;
  height: 42px; 
}
#shop_order_form #shop_order_user_comment_field {
  margin-right: 15px;
  margin-left: 15px; 
}
#shop_order_form #shop_order_comment {
  height: 81px;
  border: 1px solid #d0d9e5;
  resize: none; 
}
#shop_order_form .buttons.panel a.continue_shopping {
  display: none; 
}
#shop_order_form .buttons.panel {
   margin-bottom: 38px;    
}
#shop_order_form #shop_order_user_comment_field {
    margin-right: 0px;
    margin-left: 0px;
}
#shop_order_form .col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
}
#shop_order_delivery_form {
  margin-top: 20px; 
}
  #shop_order_delivery_form:after {
    display: none; 
}

#shop_order_delivery_form label, #shop_order_form .credit_cards label {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  width: 80%;
  vertical-align: top;
  margin-top: -3px;
  margin-bottom: 20px; 
}
#shop_order_delivery_form label[for='shop_order[delivery_option_id]'], 
#shop_order_form .credit_cards label[for='shop_order[delivery_option_id]'] {
  margin-top: -2px; 
}
#shop_order_delivery_form label[for='shop_order[delivery_option_id]'] span, 
#shop_order_form .credit_cards label[for='shop_order[delivery_option_id]'] span,
#shipping_payments_terms #payment_kind_selector label.payment-gateway-payu {
    color: #B8C1CE; 
    font-weight: 400;  
}

#order_space label {
  padding-left: 0; 
}

#shipping_payments_terms {
  margin-top: 20px; 
}
#shipping_payments_terms .icheckbox_minimal-blue {
    margin-right: 6px;
    margin-top: -3px; 
}
#shipping_payments_terms label[for='shop_order_wants_invoice'] {
    font-size: 16px;
    font-weight: 600; 
}
#shipping_payments_terms #payment_kind_selector label.payment-gateway-payu {
    margin-top: -7px; 
}
#shipping_payments_terms #payment_kind_selector label.payment-gateway-paypal {
    margin-top: -2px; 
}
#shipping_payments_terms #payment_kind_selector label.payment-gateway-payu img.payu,
#shipping_payments_terms #payment_kind_selector label.payment-gateway-payu img.payu::after {
    content: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/logo_PayU.svg);
}
#shipping_payments_terms #payment_kind_selector label.payment-gateway-payu img.payu::before {
    display: none;
}
#shipping_payments_terms #payment_kind_selector label.payment-gateway-paypal img.paypal,
#shipping_payments_terms #payment_kind_selector label.payment-gateway-paypal img.paypal::after{
    content: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/paypal-784404_960_720.png);
}
#shipping_payments_terms #payment_kind_selector label.payment-gateway-paypal img.paypal::before,
#shipping_payments_terms #payment_kind_selector:after {
    display: none;   
}
#shipping_payments_terms input {
    border: 1px solid #d0d9e5;
    height: 42px;
    margin-right: 15px; 
}
#shipping_payments_terms #shop_country_list {
    display: none; 
}

#shop_order_acceptations_block label {
  padding-left: 0;
  font-size: 13px; 
}
#shop_order_acceptations_block div {
  margin-left: 0; 
}
#shop_order_acceptations_block .form_accept_checks:last-of-type {
  display: none; 
}
#shop_order_acceptations_block a {
  text-decoration: underline; 
}

#refund {
  padding: 3% 20%; 
}
#refund p {
    font-size: 14px;
    margin-top: 20px;
    color: white; 
}
#refund p a {
      color: #58dfca !important; 
}

h3.quick-contacts-header {
  margin-top: 20px;
  line-height: 36px !important; 
}
h3.quick-contacts-header span.larger {
    font-family: Besom;
    font-size: 36px; 
}

p.refund-info {
  font-size: 15px;
  margin-bottom: 36px !important; 
}
p.refund-info a {
    text-decoration: underline; 
}

#quick-contacts {
  width: 100%;
  text-align: center;
  padding: 3% 10%;
  display: flex; 
}
#quick-contacts > div {
    flex: 1;
    width: 33.3333%; 
}
#quick-contacts > div a {
      color: white; 
}
#quick-contacts > div a .contact-img {
        height: 50px; 
}

#order_last_step {
  margin-left: 10px; 
}
#order_last_step #order_number_block {
    border: none;
    margin-top: 7px;
}
#order_last_step #order_number_block h2 {
    font-weight: 700 !important;
    font-size: 16px;
    color: #16407D;
    letter-spacing: 0.4px;
    line-height: 50px;
}
#order_last_step h4 {
    margin-bottom: 20px; 
}
#order_last_step p.item {
    border: none;
    padding-left: 0; 
}
#order_last_step a.continue_shopping {
    display: none; 
}
#order_last_step #show_order_products_block div.item {
    border: none; 
}
#order_last_step #order_confirmation_clause p {
    font-size: 13px;
    color: #243C5E;
    letter-spacing: 0;
    line-height: 20px !important;
}
#order_last_step #order_confirmation_clause strong {
    font-weight: 400;
}
#order_last_step #order_confirmation_clause a {
    color: #58dfca;
}
#order_last_step .subtitle, #show_my_cart .subtitle {
    font-weight: 400;
}
#order_last_step .shipping_information_title, #order_last_step #shop_order_delivery h4, #order_last_step #shop_order_payment_type h4 {
    line-height: 45px;
    margin: 0;
    padding-bottom: 11px;
}
#order_last_step .shipping_information_title {
    margin-top: 19px;
}
#order_last_step .item.table.totals_summary>div.table-row>p.table-cell:last-of-type,
#order_last_step .item.table.totals_summary>div.table-row:first-of-type>p.table-cell {
    padding: 0px;
}
#order_last_step .item.table.totals_summary>div.table-row>p.table-cell:first-of-type {
    padding: 0px;
}
#order_last_step .item.table.totals_summary .sum p {
    height: 45px;
    vertical-align: middle;
}
#order_last_step #button-with-price {
     margin-top: 12px !important;
     margin-bottom: 13px !important;
}
#shop_order_addresses p.item, #shop_order_delivery .item, #shop_order_payment_type .item {
    padding: 0 0 29px 0;
    margin: 0 0 12px 0 !important;
    border-bottom: 1px solid #d0d9e5;
}
#shop_order_payment_type .item {
    border: none;
}
#shop_order_addresses p.item, #shop_order_delivery .item p, #shop_order_payment_type .item p {
    font-size: 14px;
    color: #243C5E;
    letter-spacing: 0;
    line-height: 20px !important;
}
#shop_order_delivery .item p, #shop_order_payment_type .item p {
    padding: 0 !important;
    margin: 0 !important;
}
#show_order_products_block .item {
    padding: 0;
    margin: 0;
    height: 95px;
}
#show_order_products_block p.cart_product_quantity_form {
  display: none; 
}
#show_order_products_block div.money {
  margin-bottom: 5px !important; 
}
#show_order_products_block div.money .price {
    float: left; 
}
#show_order_products_block div.money .product_price_total {
    float: right;
    position: static;
    margin-top: -20px;
    bottom: auto !important; 
}

#shop_order_payment h4 {
    color: #16407D;
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.38px;
    padding-bottom: 10px;  
    text-transform: uppercase;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 17px;
}
#shop_order_payment .totals_summary {
    border:none;    
}
#shop_order_payment .totals_summary .table-row p {
    color: #243C5E;
    font-size: 14px;
    letter-spacing: 0.35px;
}
#shop_order_payment .totals_summary .table-row.sum p {
    font-size: 16px;
    color: #16407D;
}
#shop_order_payment .totals_summary .table-row .nowrap{
    font-weight: 600;
    text-transform: lowercase;
}
#shop_order_payment .table-cell strong {
    font-size: 16px;
    color: #16407D;
    letter-spacing: 0.4px;
//    border-top: 1px solid #D0D9E5;
}
#shop_order_payment .space-top {
    margin-top: 0px;   
}
#shop_order_payment .row:nth-of-type(1), #shop_order_payment .row:nth-of-type(2) {
  display: none; 
}
#shop_order_payment .table-cell.text-right.nowrap strong {
  text-transform: none;
  font-size: 15px; 
}
#shop_order_payment .table-cell.text-left strong {
  font-size: 15px; 
}

#order_last_step.order-show #order_number_block .shipping_information_title {
  text-transform: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  margin-top: 12px;
}
#order_last_step.order-show #order_number_block .shipping_information_title img {
  margin-right: 9px;
  margin-bottom: 2px;
}
#order_last_step.order-show #order_number_block {
  text-align: left;
  margin-top: 0px;
}
#order_last_step.order-show #order_number_block h2 {
  line-height: 24px;
  padding: 10px 0 10px 0;  
}

.cms_user_profile {
  border-top: 1px solid #D0D9E5;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.cms_user_profile .cms_user_details, .cms_edit_profile .cms_user_details {
  padding-top: 16px;
  text-align: center;
  display: block;
}
.cms_user_profile .cms_user_details h5, .cms_edit_profile .cms_user_details h5 {
    font-size: 15px;
    color: #16407D;
    letter-spacing: 0.38px;
    font-weight: 700;
    margin: 0;
    padding-top: 6px;
    text-align: center;
}
.cms_user_profile .cms_user_details h6, .cms_edit_profile .cms_user_details h6 {
    font-size: 15px;
    color: #243C5E;
    letter-spacing: 0;
    line-height: 20px;
}
.cms_user_profile .btn-toolbar>.btn-group {
    margin-left: 0px;
    width: 100%;
}
.cms_user_profile .btn-toolbar .btn-group a {
    background: transparent;
    font-weight: 600;
    font-size: 15px !important;
    color: #16407D !important;
    letter-spacing: 0.38px;
    line-height: 50px;
    width: 100%;
    padding: 5px 0 17px 0 !important;
    margin: 0 0 8px 0 !important;
    line-height: 30px;
    position: relative;
    text-align: left;
}
.cms_user_profile .btn-toolbar .btn-group .edit-profile {
    border-bottom: 1px solid #d0d9e5;
}
.cms_user_profile .btn-toolbar .btn-group .icon {
    margin: 0 11px 3px 2px;
}
.cms_user_profile .btn-toolbar .btn-group .edit-profile .icon {
    margin-bottom: 10px;
}
.cms_user_profile .btn-toolbar .btn-group .edit-address .icon {
    margin-right: 6px;
}
.cms_user_profile .btn-toolbar .btn-group .arrow {
    position: absolute;
    top: 13px;
    right: 13px;
}
.cms_user_profile .btn-toolbar {
    margin-bottom: 29px;
}
.cms_user_profile .btn {
    margin: 24px 0 25px 0 !important;  
}
.cms_user_profile .logout {
    margin-bottom: 35px;
}
.cms_user_profile .logout img {
    margin-right: 4px;
}
.cms_user_profile .logout a {
    font-size: 13px;
    color: #16407D;
    letter-spacing: 0;
    line-height: 20px;
    text-decoration: underline;
}
.cms_user_profile h5 {
    margin-bottom: -2px;
}
.cms_user_profile .list-group-item {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #d0d9e5;
    border-bottom: 1px solid #d0d9e5;
    margin-left: -10px;
    margin-right: -10px;
    padding: 13px 10px 13px 10px;
    text-align: left;
    font-size: 13px;
    color: #16407D;
    letter-spacing: 0;
}
.cms_user_profile .list-group-item .status {
    margin-bottom: 21px;
}
.cms_user_profile .list-group-item .status img {
    margin-bottom: 4px;
}
.cms_user_profile .list-group-item a {
    font-weight: 600;
}
.cms_user_profile .list-group-item strong {
    font-weight: 400;
}
.cms_user_profile .order_list .historyList li>div a {
    border: none;
    top: 0px;
    right: 9px;
    font-size: 13px !important;
    color: #16407D !important;
    letter-spacing: 0;
    text-decoration: underline !important;
    font-weight: 400;
    margin: 0px !important;
    padding: 15px 0 15px 10px !important;
}
.cms_edit_profile {
    margin-top: 0px;
    border-top: 1px solid #D0D9E5; 
    text-align: center;  
    position: relative;
}
.cms_edit_profile .cms_user_details .arrow {
    height: 20px;
    position: absolute;
    left: 0px;
    top: 60px;
}
.cms_edit_profile .row, .cms_edit_profile .form_accept_checks, .cms_edit_profile .new_form {
    text-align: left;
}
.cms_edit_profile .edit_user .row .col-sm-6 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#confirmation_order_clause {
  display: none; 
}
#confirmation_order_clause a {
    color: #9aa1ac;
    text-decoration: underline; 
}

form.new_user br {
  display: none; 
}
form.new_user .form_accept_checks:nth-last-of-type(2) {
  display: none; 
}

#login_box h2 {
  text-align: center; 
}
#login_box h3 {
  margin-top: 40px; 
}
#login_box h2:nth-of-type(2) {
  color: #B8C1CE;
  text-transform: none;
  font-weight: 400;
  font-size: 13px;
  text-align: left; 
}
#login_box input[type=submit].submit {
  margin-top: 30px !important; 
}
#login_box a.just_order {
  margin-bottom: 30px !important; 
}
#login_box a.forgot {
  color: #B8C1CE;
  font-size: 13px;
  text-decoration: underline;
  margin-bottom: 30px; 
}
#login_box h2.big_link a {
  color: white;
  background-color: #243C5E;
  margin-bottom: 40px !important; 
}
#login_box p.login-or-register {
  margin-top: 17px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #B8C1CE; 
}
#login_box div.login_info {
  width: initial; 
}
  #login_box div.login_info p.small {
    display: none; 
}
#login_box br {
  display: none; 
}
#login_box .gather_forms {
  width: 100%;
  margin: auto 0; 
}
#login_curtain .login_bottom a.forgot, #login_curtain .login_bottom span.sign-up {
    text-transform: none;
    font-family: 'Open Sans';
    font-weight: 400;
}
#login_curtain .login_bottom span.sign-up {
    padding: 0px;
    margin-bottom: 30px;
}
.login_bottom div.forgot {
    text-align: left;
    padding-top: 11px;
    padding-bottom: 5px;
}
.login_bottom .forgot a {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #B6C3D4;
    letter-spacing: 0;
}
#new_password_container #password, #new_password_container #password_confirmation, .restore_password #login {
    width: 100% !important;
}
form label {
    font-family: 'Open Sans';
    font-size: 13px !important;
    color: #16407D;
    letter-spacing: 0;
    padding: 5px 0px 5px 0px;
}
.form-control, #login_curtain #password {
    border: 1px solid #D0D9E5;
    height: 42px;
    color: #243C5E;
    outline: none;
    outline-offset: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-group {
    text-align: left;
    margin-bottom: 0px;
}
#new_user label {
    margin-top: 10px;
}
.form_accept_checks {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #16407D;
    letter-spacing: 0;
    line-height: 20px;
}
.form_accept_checks a {
    text-decoration: underline;
}
.form_accept_checks span {
    position: absolute;
    left: 36px;
    padding-top: 15px;
}
form input[type=submit]:focus, form input[type=submit]:hover {
    color: white !important;
    background-color: #16407d;
}

.container.restore_password .header {
    z-index: 1;
}
.container.restore_password .col-sm-6 {
    text-align: left;
    color: #F1001D;  
}
.container.restore_password .cms_buttons .col-sm-6 {
    text-align: center;
}
.restore_password .cancel, .restore_password .help, .restore_password .col-sm-6 {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #B6C3D4;
    letter-spacing: 0;
}
.restore_password .help {
    margin-top: 14px;
    margin-bottom: 2px !important;
}
.restore_password .cancel {
    margin: 22px 0px 0px 0px;  
}
.restore_password .cancel a {
    color: #B6C3D4;    
    text-decoration: underline;
}

div.errorExplanation {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #F1001D;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 3px;
}
div.field_with_errors > input {
    border: 1px solid #f1001d !important;
}
div.checkbox.WithErrors > label {
    color: #f1001d;
}


#thank_you_for_ordering {
    text-align: left;   
}
#thank_you_for_ordering h2{
    padding-bottom: 3px;    
}
#thank_you_for_ordering #order-number h2 {
    padding-top: 0px;
}
#thank_you_for_ordering h3 {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #16407D;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
}
#thank_you_for_ordering h3 b {
    font-weight: 600;    
}
#thank_you_for_ordering h4 {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #16407D;
    letter-spacing: 0.35px;
    line-height: 20px;
}
#thank_you_for_ordering #order-number {
    margin-bottom: 28px;
}
#thank_you_for_ordering .dark-blue {
    color: #243C5E;    
}
#thank_you_for_ordering .panel {
    margin-bottom: 0px;   
}
#thank_you_for_ordering .bolder {
    font-weight: 700!important;
}
#thank_you_for_ordering .buttons.panel a:focus, #order_last_step .buttons.panel a:focus, 
#shop_order_form .buttons.panel a:focus, #thank_you_for_ordering .buttons.panel a:hover, 
#order_last_step .buttons.panel a:hover, #shop_order_form .buttons.panel a:hover {
    background-color: #16407d;
}
