/* iCheck plugin Minimal skin, blue
----------------------------------- */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/Checkbox_2x.png) no-repeat;
    border: none;
    cursor: pointer;   
    width: 28px;
    height: 28px;
    background-size: 280px 28px;
    -webkit-background-size: 280px 28px;     
}

.icheckbox_minimal-blue {
    background-position: 1px 0;
}
    .icheckbox_minimal-blue.hover {
        background-position: -26px 0;
    }
    .icheckbox_minimal-blue.checked {
        background-position: -53px 0;
    }
    .icheckbox_minimal-blue.disabled {
        background-position: -85px 0;
        cursor: default;
    }
    .icheckbox_minimal-blue.checked.disabled {
        background-position: -110px 0;
    }

.iradio_minimal-blue {
    background-position: -135px 0;
}
    .iradio_minimal-blue.hover {
        background-position: -164px 0;
    }
    .iradio_minimal-blue.checked {
        background-position: -193px 0;
    }
    .iradio_minimal-blue.disabled {
        background-position: -221px 0;
        cursor: default;
    }
    .iradio_minimal-blue.checked.disabled {
        background-position: -252px 0;
    }

/* HiDPI support 
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_minimal-blue,
    .iradio_minimal-blue {
        background-image: url(https://d1dmfej9n5lgmh.cloudfront.net/lamillou/files/layout/Checkbox_2x.png);
        -webkit-background-size: 260px 26px;
        background-size: 260px 26px;
    }
}
*/
