@font-face {
    font-family: Besom;
    src: url(https://www.dropbox.com/s/f6qvv4e5x8ahexb/Besom-extended.ttf?dl=0);
}

.container {
  padding-left: 43px;
  padding-right: 43px;
}

h1 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  color: #16407D;
  letter-spacing: 0;
  line-height: 24px;
}
h2 {
  font-family: Besom;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.6px;
  line-height: 50px;  
}
h5 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  color: #16407D;
  letter-spacing: 0.38px;
  line-height: 45px;
  margin-top: 0px;
  margin-bottom: 10px;
}
p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #243C5E;
  letter-spacing: 0;
  line-height: 20px;
}
.logo {
  margin-left: 20px;  
  margin-bottom: 42px;
}
img.delivery {
  max-height: 228px;
  max-width: 100%;
}
.bolder {
  font-weight: 600; 
}
footer {
  background: #16407D;
}
