body {
    font-family: .AppleSystemUIFont, 'Open Sans', Helvetica, Arial, sans-serif;  
}
p {
    font-size: 13px;
}
a:focus, a:hover {
    color: unset;
}
.fa a:hover, .fa a:focus {
    background-color: #16407d !important;
}
.page {
    padding-top: 15px;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
}
.container-text {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.page>.container {
    padding-top: 0px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9AA1AC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9AA1AC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9AA1AC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9AA1AC;
}

.page-heading h2, .category-node h1 {
    font-family: besom!important;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0.9px;
    line-height: 38px;
    padding: 6px 0 6px 0 !important;
    margin-bottom: 0px !important;
    color: #16407D;
    border: none;
}

.page-heading h3>span {
    display: none;    
}

.page-block .container .page-heading h3 {
    display:none;   
}
.page-block .mobile-navi {
    margin-bottom: 20px;
}
.page-block .mobile-navi h5 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px !important;
    text-transform: uppercase;
    color: #16407D;
    letter-spacing: 0.47px;
    margin-bottom: 0px;
    line-height: 20px;
    padding: 10px 0 10px 0;
    margin-left: -8px;
}
.page-block .mobile-navi li {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #243C5E;
    letter-spacing: 0;
    line-height: 20px;
    display: list-item;
    overflow: visible;
    list-style: disc outside none;
    margin-left: 8px;
    padding-bottom: 6px;
}
.bolder {
    font-weight: 600!important;
}
.page-block .mobile-navi .packing-info {
    margin-left: 2px;
}
.mobile-navi li.title {
    list-style: none;
}
.page-block .mobile-navi ul li.active>span {
    margin-top: -7px;
}
.page-block .mobile-navi .packing-info img {
    height: 132px;
    width: auto !important;
    text-align: center;
    display: block;
    margin-top: 21px;
}
.mobile-navi .packing-info {
    display: none;    
    max-height: 1000px;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}
.mobile-navi .open .packing-info {
    display: block;    
}
.page-block .mobile-navi .packing-info a {
    padding: 0;
    display: inline;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px !important;
    color: #243C5E;
    letter-spacing: 0;
    text-decoration: underline;
}
.page-block {
    padding: 0 0 0 0 !important;
}
div.page-heading.center, div.page-heading {
    padding-top: 17px;
    padding-bottom: 0px;
    margin: 0 0 0 0;
}
.gallery-grid.masonry .item {
    border: none;   
    background: white;
}

.col-xs-5, .col-sm-5, .col-md-5 {
    width: 20%;
}

.social-bar {
    display: block;
}

.site-info {
    text-align: center;
}
.img-wrapper {
    position: relative;
}
.img-overlay, .img-overlay-fa {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.img-overlay-fa-angle {
    text-align: right;
}
.img-overlay-fa-angle span{
    padding: 23px 14px 23px 14px;
}
.img-responsive {
    margin-bottom: 10px;
}
/*
.img-overlay:before {
    content:' ';
    display: block;
    height: 70%;
}
*/
.img-overlay-fa h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 6px; 
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.38px;
    line-height: 48px;
    color: #16407D;
}
.img-overlay-fa h2 {
    word-spacing: .15em;
    text-transform: uppercase;
    font-family: besom!important;
    font-size: 36px;
    letter-spacing: 0.9px;
    font-weight: 300;
    color: white;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    padding-top: 5px;
}
.img-overlay .btn {
    bottom: 0;
    position: absolute;
    margin-bottom: 60px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0;
    right: 0;   
}

.img-overlay-fa:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;  
}
.img-overlay-fa .fa {
    vertical-align: middle;
    cursor: pointer;
}
.img-overlay-fa-angle .fa {
    color: white;
    padding: 18px 18px 18px 18px;
}
@media (max-width: 430px){
    .img-overlay-fa-angle .fa {
     padding: 9px 9px 9px 9px;
    }
}
.fa-play-circle, .fa-pause-circle {
    color: #16407D;
    background: white;
    line-height: 40px;
    border-radius: 50%;
}
#pozbutton > span.fa-play, #pozbutton > span.fa-pause {
    padding: 0 0 0 0!important;
    margin: 0 0 0 0 !important;
}
#pozbutton {
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
    border-radius: 50%;
    border: none;
}
#pozbutton:hover, #pozbutton:active {
    opacity: 1 !important;
    border: none !important;
}
.btn-lam-link {
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;  
    padding: 8px 21px 8px 21px;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.38px;
    line-height: 48px;
    font-weight: 700;
    cursor: pointer;
}
.btn-lam-link-blue {
    color: #16407d;    
}
.btn-lam-link:hover, .btn-lam-link:focus, .btn-lam-link:active {
    color: white!important;    
}
.btn-lam-link-blue:hover, .btn-lam-link-blue:focus, .btn-lam-link-blue:active {
    color: #16407d !important;    
}
.btn-lam-link img {
    padding-left: 5px;
    position: relative;
    bottom: 1px;
}
.btn img.arrow {
    height: initial;
    width: initial;
    margin-bottom: 2px;
    margin-left: 7px;
}
.category-node .btn {
    width: 102px;
    padding-left: 14px!important;
    padding-right: 14px !important;
    margin-right: 13px!important;
}
.gallery-grid.masonry .item2 {
    position: relative;
    float: left;
}
.gallery-grid.masonry .itemTwice {
    position: relative;
    float: left;
    max-width: 50%;
}
.small-container .row {
    margin-left: 5px; 
    margin-right: 5px;
}
.small-container .col-xs-6, .small-container .col-sm-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.row {
    margin: 0 0 0 0;    
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 0px;
}
.small-container-moonboard {
    margin-left: -5px;
    margin-right: -5px;
}
.small-container-moonboard .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;    
}
.container-products {
    margin-left: -4.5px;
    margin-right: -4.5px;
}
.container-products h5 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    color: #16407D;
    letter-spacing: 0.9px;
    line-height: 19px;
    margin-bottom: 23px;
    margin-top: 18px;
    margin-left: 4.5px;
    margin-right: 4.5px;
}
.container-products .item {
    margin: 0 0 0 0 !important;
    padding-left: 4.5px;
    padding-right: 4.5px;
}
.container-products .item .title, .product-extra .item .title {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #16407D;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 18px;
    height: 18px;
    text-transform: capitalize;
    margin-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.container-products .item .subtitle, .product-extra .item .subtitle {
    opacity: 0.8;
    font-family: 'Open Sans';
    font-size: 11px;
    color: #16407D;
    letter-spacing: 0;
    line-height: 15px;
    height: 15px;
    overflow: hidden; 
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}
.product_price, .product_price h3 {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #16407D;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    bottom: 23px;
    left: 0;
    text-transform: uppercase;
    font-weight: 600;
}
.product_discount_price, .product_discount_price h3 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px !important;
    color: #787E87;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 0px;
    position: absolute;
    bottom: 23px;
    right: 0;
    text-transform: uppercase; 
}
.price-promotion,  .price-promotion h3{
    color: #F1001D !important;
}
.quantity {
    position: absolute;
    top: 0;
    right: 0px;
    font-weight: 600;
    font-size: 13px;
    color: #DFB14C;
    letter-spacing: 0;
}
.product_right_tab .prod_price {
    padding-bottom: 25px;    
}
.container-products .label-unavaible {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px !important;
    color: #787E87;
    letter-spacing: 0;
    background: #9AA1AC;
    color: #FFFFFF;
    letter-spacing: 0.4px;
    line-height: 17px;
    padding: 3px 7.5px 3px 7.5px;
    float: right;
    bottom: 0;
    z-index: 1;
}
.pagination strong {
    background: #16407D;
    border-radius: 0;
    color: #FFFFFF;
}
.pagination a, .pagination strong, .pagination em.current {
    font-weight: 600 !important;
    font-size: 15px;
    letter-spacing: 0;
    margin-right: 10.7px;
    width: 25px;
    height: 25px;
    padding: 0;
    line-height: 25px;
    margin-bottom: 28px;
    margin-top: 5px;
}
.pagination a {
    color: #16407D;
}
.pagination a:focus, .pagination a:hover {
    background-color: white;
    color: #16407D;
}
.category-leaf p {
    font-family: 'Open Sans';
    font-size: 14px !important;
    color: #243C5E;
    letter-spacing: 0;
    line-height: 20px !important;
    margin-top: 9px;
    margin-bottom: 22px !important;
}
#products_list_page .category-leaf {
    margin-bottom: 0px;
}
section.catalog-grid {
    padding-right: 10px;
    padding-left: 10px; 
}
.catalog-grid.type-2 .item footer {
    padding-top: 6px;
    height: 87px; 
    z-index: inherit;
}
.catalog-grid .category-icon {
    padding-bottom: 4px;   
}
.catalog-grid .category-icon>img {
    margin-top: 5px;
    margin-right: 4px;
    max-width: 48px;
}
.product_details.product_right_tab {
    margin-top: -54px;
}
.product_details .title {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #16407D;
    margin-bottom: 3px;
    text-transform: capitalize;
}
.product_details .subtitle {
    opacity: 0.8;
    font-family: 'Open Sans';
    font-size: 11px;
    letter-spacing: 0;
    line-height: 15px;
    max-width: 100%;
    color: #16407D;
}
.product_title {
    margin-bottom: 4px;
    padding-bottom: 0px;
}
.post-title {
    border-bottom: none;
}
.product_details .price {
    color: #16407D;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 23px;
}
.product_details .product_discount_price{
    font-size: 14px;
    font-weight: 600 !important;
    color: #787E87;
    letter-spacing: 0;
    position: absolute;
    left: 103px;
    top: 0px;
    margin-top: 6px !important;
}
.block-devider {
    border-bottom: none;
    margin-bottom: 0px;
}
.block-devider span, .block-devider p, .block-devider .gmail_default {
    font-family: 'Open Sans';
    font-size: 14px !important;
    color: #243C5E !important;
    letter-spacing: 0 !important;
    line-height: 20px !important;
    border-bottom: none;
}
.block-devider h5 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 13px;
    color: #9AA1AC;
    letter-spacing: 0.84px;
    line-height: 20px;
    text-transform: uppercase; 
}

.master-slider {
    margin-bottom: 23px !important;
    height: unset;
    width: 100%;
}
.controls-cont, .ms-view, .ms-slide, .ms-slide-bgcont {
    height: unset;
    width: 100% !important;
}
.sp-slider .category-icon {
    position: absolute;
    z-index: 1;
    margin-top: 9px;
    margin-right: 47px;
    right: 0;
}
.sp-slider .category-icon img {
    width: 60.9px;
}
.sp-slider .ms-thumb-list {
    height: 53px!important;
    margin-top: 0px !important; 
    bottom: 60px;
    margin-left: 11px;
}
.ms-thumbs-cont {
    left: 0px !important;
    width: inherit !important;
}
.ms-slide .ms-slide-bgcont img {
    height: unset !important;
    margin-top: 0px !important;
    text-align: center;
    overflow: hidden;
}
.ms-thumb-frame img {
    margin-left: 0px !important;
    height: 100% !important;
    width: unset !important;
}
.sp-slider .ms-thumb-frame{
    height: 60px !important;
    max-width: 60px !important;
    border: 1px solid #D0D9E5;
    border-radius: 0px;
    margin: 0px 8px 0px 0px !important; 
    opacity: 1;
    vertical-align: middle;
}
.sp-slider .ms-thumb-frame-selected {
    height: 50px !important;
    max-width: 51px !important;
    margin-left: 0px !important;
    border: 1px solid #16407D !important; 
}
.ms-skin-default .ms-nav-next, .ms-skin-default .ms-nav-prev {
    display: none;    
}
.post-toolbox {
    padding-top: 15px !important;
    padding-bottom: 25px !important;
    text-align: center;
}
.category_desc h2 {
    font-family: Besom;
    font-size: 24px;
    color: #16407D !important;
    letter-spacing: 0.9px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.category_desc img {
    width: 30% !important;
    height: auto !important;
}
.proposed-products h2 {
    font-family: Besom;
    font-size: 24px;
    color: #16407D !important;
    letter-spacing: 0.9px;
    line-height: 28px;
    text-align: left;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 7px;
}
.category-node {
    margin-bottom: 10px;
    margin-top: 26px;
}
.category-node .page-heading {
    padding: 0 0 0 0;
}
.category-node .category-image {
    text-align: center;
    background: #D0D9E5;
}
.category-node .img-overlay .btn {
    margin-bottom: 9px !important;
}
.col-sm-2.product-extra {
    height: 208px;
}
.product-extra .item {
    position: absolute;
    top: -20px;
    width: 100%;
    padding: 0 0 0 0;    
}
.product-extra .category-icon {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.product-extra .category-icon img {
    width: 53px;
    margin: 4px 4px 4px 4px;
}
.product-extra img {
    max-height: 173px;
}
.product-extra .item h3>a, .product-extra .item a>img{
    border: none;    
}
.product-extra h3 { 
    margin: 0 0 0 0;
}
.product-extra .item .title, .product-extra .item .subtitle  {
    max-width: 173px;   
}
.product-extra .item .title {
    margin-top: 6px;
    float: left;
    font-size: 13px;
}
.product-extra .item .subtitle {
    margin-bottom: 3px;
    font-size: 11px;
    text-align: left;
}
.product-extra .product_price {
    position: static;
    width: 50%;
    float: left;
    margin-top: -1px;
}
.product-extra .product_price h3 {
    position: static;
    text-align: left;
    margin-top: -5px;
}
.product-extra .product_discount_price h3 {
    text-align: right;
}
.info.product-extra {
    width: 173px;
    float: right;
}
.page>.container.cms_register, #login_curtain.specialty-page, .container.restore_password, #thank_you_for_ordering {
    margin-top: 0px!important;
    border-top: 1px solid #D0D9E5;
    padding-top: 19px;
}
#thank_you_for_ordering {
    text-align: left;   
}
.cms_register.container h3, .restore_password h2, #login_curtain h1, #new_password_container h2, 
#thank_you_for_ordering h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    color: #16407D;
    letter-spacing: 0.38px;
    line-height: 18px;
    padding: 16px 0px 8px 0px;
    text-align: left;
    margin-bottom: 0px;
}
#thank_you_for_ordering h2{
    padding-bottom: 3px;    
}
#thank_you_for_ordering h3 {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #16407D;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
}
#thank_you_for_ordering h3 b {
    font-weight: 600;    
}
#thank_you_for_ordering h4 {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #16407D;
    letter-spacing: 0.35px;
    line-height: 20px;
}
#thank_you_for_ordering .dark-blue {
    color: #243C5E;    
}
.cms_buttons a:focus, .cms_buttons a:hover {
    color: unset;
}
form label {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #16407D;
    letter-spacing: 0;
    padding: 5px 0px 5px 0px;
}
.form-control, #login_curtain #password {
    border: 1px solid #D0D9E5;
    height: 42px;
    color: #243C5E;
}
.form-group {
    text-align: left;
    margin-bottom: 0px;
}
#new_user label {
    margin-top: 10px;
}
.container.restore_password .col-sm-6 {
    text-align: left;
}
.container.restore_password .cms_buttons .col-sm-6 {
    text-align: center;
}
.restore_password .cancel, .restore_password .help, .restore_password .col-sm-6 {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #B6C3D4;
    letter-spacing: 0;
}
.restore_password .help {
    margin-top: 14px;
    margin-bottom: 2px !important;
}
.restore_password .cancel {
    margin: 22px 0px 0px 0px;  
}
.restore_password .cancel a {
    color: #B6C3D4;    
    text-decoration: underline;
}
.form_accept_checks {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #16407D;
    letter-spacing: 0;
    line-height: 20px;
}
.form_accept_checks a {
    text-decoration: underline;
}
.specialty-page {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px 10px 10px 10px;
}
#login_curtain input.text {
    width: 100% !important;
}
div.errorExplanation {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #B6C3D4;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 3px;
}
div.field_with_errors > input {
    border: 1px solid #f1001d !important;
}
div.checkbox.WithErrors > label {
    color: #f1001d;
}
.cms_register.container .new_button.btn.btn-primary, #login_curtain .cms_buttons .submit,
.restore_password .submit {
    font-size: 15px !important;
    text-align: center;
    text-transform: uppercase;  
    width: 240px;
    letter-spacing: 0.47px;
    line-height: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    padding-top: 14px !important;
    padding-bottom: 16px !important;
    color: white !important;
    background-color: #16407d;
    margin: 0px !important;
}
form input[type=submit]:focus, form input[type=submit]:hover {
    color: white !important;
    background-color: #16407d;
}
#thank_you_for_ordering .buttons.panel a:focus, #order_last_step .buttons.panel a:focus, #shop_order_form .buttons.panel a:focus, #thank_you_for_ordering .buttons.panel a:hover, #order_last_step .buttons.panel a:hover, #shop_order_form .buttons.panel a:hover {
    background-color: #16407d;
}
.cms_register.container .cms_buttons.row {
    margin-bottom: 40px;
    padding: 0px;
}

#login_curtain .login_bottom a.forgot, #login_curtain .login_bottom span.sign-up {
    text-transform: none;
    font-family: 'Open Sans';
    font-weight: 400;
}
#login_curtain .login_bottom span.sign-up {
    padding: 0px;
    margin-bottom: 30px;
}
.login_bottom div.forgot {
    text-align: left;
    padding-top: 11px;
    padding-bottom: 5px;
}
.login_bottom .forgot a {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #B6C3D4;
    letter-spacing: 0;
}
#new_password_container #password, #new_password_container #password_confirmation, .restore_password #login {
    width: 100% !important;
}
.separate-buttons {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 13px;
    color: #D0D9E5;
    letter-spacing: 0.51px;
    margin: 7px 0px 15px 0px;
}
.advertisement {
    height: 51px;
    padding-top: 19px;
    padding-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #16407D;
    text-align: center;
    line-height: 12px;
}

.advertisement h6 {
    color: white;
    font-family: 'Open Sans';
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 0px;
    display: inline-block;
}
.advertisement .img-courier {
    float: left;
    margin: 0px 7px 0px 7px;
}
.advertisement .exit {
    float: right;
    margin: 3px 19px 1px 9px;
    cursor: pointer;
}
.advertisement-mobile .img-courier {
    height: 51px;
    padding: 19px 0px 16px 18px;
    margin: -20px 0px 0px 0px;
}
.advertisement-mobile .exit {
    padding: 20px 19px 16.5px 10px;
    height: 51px;
    margin: -20px 0px 0px 0px;
}

.advertisement-desktop {
    display: none;
}
.advertisement-desktop h6 {
    color: black;
    font-size: 12px;
    letter-spacing: 0;
}
.courier, .pay-pal, .despatch {
    display: inline-block;
}
.advertisement-desktop .courier {
    padding-right: 52px;
    border-right: 2px solid rgba(0,0,0,0.3);
}
.advertisement-desktop .pay-pal {
    padding-left: 52px;
    padding-right: 52px;
    border-right: 2px solid rgba(0,0,0,0.3);
}
.advertisement-desktop .despatch {
    padding-left: 52px;
}

.less-space-top {
    margin-top: -8px;
}
@media (max-width: 425px){
    .advertisement .img-courier {
        display: none;
    }
}
@media (max-width: 380px){
    .advertisement h6 {
        font-size: 11px;
    }
    .advertisement {
        line-height: 13px;
    }
}
@media (max-width: 350px){
    .advertisement h6 {
        font-size: 10px;
    }
}
.icon-mobile {
    padding: 0px 14px 0px 7px;    
    vertical-align: baseline;
}
.icon-mail {
    padding: 0px 12px 0px 4px;   
    vertical-align: baseline;
}
#rectangle { 
    width: initial; 
    height: 114.6px; 
    background: #16407d; 
    margin-bottom: 10px; 
    text-align: center;
    cursor: pointer;
}
#img-courier {
    padding-top: 21px;  
    padding-bottom: 10px;
}
#img-paypal {
    padding-top: 27px;  
    padding-bottom: 9px;
}
#rectangle h6 {
    color:white;    
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height:19px;
    margin-bottom: 0;
    font-weight: 600;
}

@media (min-width: 580px) and (max-width: 770px) {
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-3 {
        width: 25%;
    }
}
@media (min-width: 580px) {
    #shop-banner {
        display: none;    
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container .gallery-grid .col-sm-6 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container-left {
        padding-left: 10px;    
    }
    .container-right {
        padding-right: 10px;    
    }
    .small-container-moonboard {
        margin-left: 0px;
        margin-right: 0px;
    }
    .item-narrow .img-responsive {
        margin-bottom: 0px;
    }
    .page-heading h2 {
        padding-left: 5px;    
    }  
    .item-narrow {
        max-width: 100%;
        overflow: hidden;
    }
}

@media (min-width: 730px){
    .container {
        padding-left: 9px;
        padding-right: 9px;
    }    
    .small-container-moonboard .col-sm-6, .small-container-moonboard .col-md-6, .small-container-moonboard .col-lg-6, .small-container-moonboard .col-xl-6 {
        padding-left: 9px;
        padding-right: 9px;
    }
    .img-responsive {
        margin-bottom: 18px;
    }

    #rectangle {
        display: none;    
    }
    .container div.page-heading.center {
        padding-left: 10px;
    }  
    .page-heading {
        margin-bottom: 0px;
    }
    .page-heading h2 {
        padding-left: 0px;
        padding-top: 17px;
        margin-bottom: 0;
    } 
}

@media (min-width: 1025px){     
    .advertisement-desktop {
        display: block;
        height: 40px;
        background: #e9eaeb;
        padding: 13px 0 10px 0;
        margin: 0 0 0 0;
    }
    .advertisement-desktop .exit {
        width: 17.7px;
        margin: -3px 10.6px 0px 0px;
    }
    .advertisement-desktop .img-courier {
        width: unset;
        height: 18px;
        margin: 0px 7px 0px 7px;
        float: none;
    }
    .advertisement-mobile {
        display: none;
    }
    .img-overlay-fa h5 {
        margin-bottom: 52px;
    }
    .btn-lam-link {
        padding: 11px 21px 11px 21px;
        margin-bottom: 10px;
    }
    .item-narrow {
        max-width: 100%;
        max-height: 269px;
        overflow: hidden;
    }
    .container .gallery-grid .col-lg-6, .container .gallery-grid .col-xl-6, .small-container-moonboard .col-lg-3, .small-container-moonboard .col-xl-3{
        padding-left: 9px;
        padding-right: 9px;
    }
}

