.mobile-navi ul li a {
    border-bottom: none;
}
.mobile-navi a {
    color:#475263;
}

.gallery-grid.masonry .item {
    border: none;     
}


.footer {
    background-color: #16407d !important;
}
.img-wrapper {
    position: relative;
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.img-overlay:before {
    content:' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 75%;
}
.btn-lam {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 60px;
    font-weight: bold;
}
.btn-lam-white {
    color: #16407d !important;
    background-color: white;
}
.btn-lam-blue {
    color: white;
    background-color: #16407d;
}
