.mobile-navi ul li a {
    border-bottom: none;
}
.mobile-navi a {
    color:#16407d;
}

.mobile-search .form-control {
    border: none;
    background: #ebebeb;
    border-radius: 2px;
}

.gallery-grid.masonry .item {
    border: none;   
    background: white;
}

@media only screen and (max-width:480px){
    .footer #insta_widget.row>div {width:33.33333333%}   
}

.col-xs-5, .col-sm-5, .col-md-5 {
    width: 20%;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.social-bar {
    display: block;
}

.footer {
    background-color: #16407d !important;
}

footer.footer a {
    font-weight: 600 !important;
}

.footer .contacts {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer span {
    color: white !important;
}

.move-right .exit-off-canvas {
    background: rgba(22, 64, 125, .2);
}

.img-wrapper {
    position: relative;
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-responsive {
    padding-bottom: 15px;
}
.img-overlay:before {
    content:' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 75%;
}
.btn-lam {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 60px;
    font-weight: bold;
}
.btn-lam-white {
    color: #16407d !important;
    background-color: white;
}
.btn-lam-blue {
    color: white;
    background-color: #16407d;
}
