.col {
  width: 50%;
  float: left; 
}

#form  {
  padding: 20px;
}

#form h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 27px;
  text-align: left;
  color: #16407d;  
  text-transform: uppercase;
}

#form h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  text-align: left;
  color: #16407d;
  text-transform: uppercase;
}
#form .heading {
  float: left;
  margin: 20px 0 5px 0;  
}
#form label {
  font-family: 'Open Sans';
  font-size: 13px;
  color: #16407D;
  letter-spacing: 0;
  padding: 5px 0px 5px 0px;
}
#form label.title {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 9px;
}
#form input, #form textarea {
  border: 1px solid #D0D9E5;
  height: 35px;
  color: #243C5E;
  outline: none;
  outline-offset: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none!important;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 4px;
  padding: 5px;
  font-size: 13px;
}
#form textarea {
  height: 100px;  
}


#form .field, #form .action-field {
  display: block;
  float: left;
  width: 100%;
  background-color: #f7f7f7;
  margin-bottom: 25px;
}
#form .action-field {
  background-color: transparent;  
  text-align: center;
}
#form .field .name {
  float: left;
  width: 80%;  
}
#form .field .name div {
  padding: 10px 0 10px 10px;
} 
#form .field .action {
  float: right;
  width: 20%;
  text-align: right;
}

#form button {
  padding: 14px 14px 16px 14px;
  color: white;
  background-color: #16407d;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.47px;
  line-height: 20px;
  font-family: 'Open Sans';
  font-weight: 700;
  border: none;
  border-radius: 5px;  
  cursor: pointer;
}

#form .action button {
  color: #16407d;
  background-color: transparent;
  text-decoration: underline;  
  padding: 15px;
  width: unset;
}

