.col {
  width: 50%;
  float: left; 
}

#form  {
  padding: 20px;
}

#form h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 27px;
  text-align: left;
  color: #16407d;  
  text-transform: uppercase;
  padding-bottom: 20px;
}

#form h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  text-align: left;
  color: #16407d;
  text-transform: uppercase;
}

#form label {
  font-family: 'Open Sans';
  font-size: 13px;
  color: #16407D;
  letter-spacing: 0;
  padding: 5px 0px 5px 0px;
}

#form input {
  border: 1px solid #D0D9E5;
  height: 35px;
  color: #243C5E;
  outline: none;
  outline-offset: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none!important;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 4px;
  padding: 5px;
  font-size: 13px;
}

#form .field {
  display: block;
  float: left;
  width: 100%
}

#form .field .name {
  float: left;
  width: 80%;  
}
#form .field .action {
  float: left;
  width: 20%;
  
}


